<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script> 

    </head>
    <body>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Nobis in maiores ea quas neque fuga repellat, voluptatem
              fugiat magnam autem deleniti consectetur dicta dolores
               repellendus odio incidunt accusamus ab saepe!Lorem Lorem 
               ipsum dolor sit amet consectetur adipisicing elit. Alias,
                qui culpa quo eaque aliquid tempore ea ducimus voluptatum 
                veritatis? Eveniet ex asperiores suscipit voluptatem animi
                 totam officia ea culpa officiis?</p>

                 <br />
                 <br />
                 <h1><%= name %></h1>
                 <h1><%= age %></h1>
                 <h1><%= city %></h1>




  
                 
    </body>
</html>