<%-include("../header")%>

<h1>Blog Page</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui at
        sapiente molestiae dolore dignissimos, accusamus mollitia sed.</p>
         harum molestiae dolorem non ducimus! Iure vel nihil, assumenda adipisc

<%-include("../footer")%>         
