<%-include("../header")%>
<div class="container">
    <form action="/student/save" method="post">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
        
            <div class="card border border-success my-4">
                <div class="card-header bg-success"><h2 class="text-light">Add Students</h2></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control" name="full_name" placeholder="Full Name" />
                        </div>
                        <div class="form-group">
                            <label>Age</label>
                            <input type="text" class="form-control" placeholder="Age" name="age" />
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            Male<input type="radio" name="Gender" value="male" />
                            Female<input type="radio" name="Gender" value="female" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" placeholder="Address" name="address" ></textarea>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <select class="form-control" name="city">
                                <option>Select</option>
                                <option>Mumbai</option>
                                <option>Indore</option>
                                <option>Pune</option>
                                <option>Banglore</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" class="form-control" name="contact" placeholder="Contact" />
                        </div>
                        
                    </div>
                    <div class="card-footer bg-success">
                        <input type="submit" value="Add" class="btn btn-light" />
                    </div>
                </div>
            </div>
        
        </div>
    </div>    
    </form>
    
    
</div>

<br />
<br />
<br />
<br />
<br />
<%-include("../footer")%>