<%-include("../header")%>

<div class="container">
<div class="row">
    <div class="col-md-9">
        <h1 class="display-4">Page Not Found</h1>

        <a href="#" class="btn btn-primary btn-borderd">Home</a>
    </div>
</div>


</div>

<%-include("../footer")%>
