h3{
    color: #222222;
    float: none;
    text-align: center;

}
div{
    min-height: 150px;
    height: auto;
    width: 100px;
    background-color: #ffffff;
    margin: 10px;
    float: none;

}
p{
    color: red;
    text-align: center;
    height: 50px;
    width: 50px;
    float: none;
    background-color: #555665;
    
}
