<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <!-- <h1>{{obj.name}}</h1>
            <h1>{{obj.age}}</h1>
            <h1>{{obj.city}}</h1> -->

          
                <!-- <table *ngFor = "let x of color" class="table table-dark table-stripped table-bordered">
                    <h2>{{x}}</h2>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Age</th>
                    </tr>
                    <tr *ngFor = "let x of obj; let n = index">
                        <td>{{n+1}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.city}}</td>
                        <td>{{x.age}}</td>

                    </tr>

                </table>
             -->
        </div>
    </div>
</div>
